fastapi>=0.100.0
uvicorn[standard]
sqlalchemy>=2.0
alembic
pydantic>=2.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
xgboost
pandas
scikit-learn
osmnx
python-multipart
psycopg2-binary
python-dotenv
email-validator
requests>=2.30.0
httpx>=0.24.0
Pillow>=10.0.0
ExifRead>=3.0.0
fpdf2>=2.7.0
cloudinary
beautifulsoup4
bcrypt
